<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player_creater</title>
</head>
<body>
<h5>{{ error }}</h5>
<h2>Не шутите с магическими силами они видят все</h2>
<h1>Введите ваши данные</h1>
    <form method="post">
        {% csrf_token %}
        <label for = "name">Ваше имя:</label>
        <input type = "text" id = "name" name = "name" maxlength="30" required>

        <label for = "damage">Какой урон наносит ваш герой от 1 до 3:</label>
        <input type = "text" id = "damage" name = "damage" minlength="8" required>

        <label for = "player_attack1_name">как назвается ваш первый удар:</label>
        <input type = "text" id = "player_attack1_name" name= "player_attack1_name" minlength="8" required>

        <label for = "player_attack2_name">как назвается ваш второй удар:</label>
        <input type = "text" id = "player_attack2_name" name= "player_attack2_name" minlength="4" required>

        <button type="submit">Создать героя</button>
    </form>
</body>
</html>
